fastdtw==0.3.4
Flask==3.1.2
flask_cors==6.0.2
matplotlib==3.10.8
mediapipe==0.10.21
numpy==2.4.1
opencv_contrib_python==4.11.0.86
opencv_python==4.13.0.90
pygame==2.6.1
PyOpenGL==3.1.10
scipy==1.17.0
tqdm==4.67.1
